<div class=" content-area">
    <div class="page-header">
      <h4 class="page-title">Calendario de Reservas</h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Calendario</a></li>
        <li class="breadcrumb-item active" aria-current="page">Completo</li>
      </ol>
    </div>

    <p><input id="scrollDefaultExample" type="text" class="time ui-timepicker-input" autocomplete="off"></p><br>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div id="calendar" class="fc fc-unthemed fc-ltr">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div id="calendar2" class="fc fc-unthemed fc-ltr">
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'modalinput' %>

  </div>

<script>$('#scrollDefaultExample').timepicker();</script>