<div class=" content-area">
  <div class="row mt-5">
    <div class="col-12">
      <div class="card">
        <div class="card-header ">
          <h3 class="card-title ">Listado de Usuarios</h3>
          <div class="card-options">
            <%= link_to '<i class="fa fa-plus"></i> Crear Usuario'.html_safe, new_user_path, class: 'btn btn-sm btn-success' %>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover card-table table-striped table-vcenter table-outline text-nowrap">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido 1</th>
                <th scope="col">Apellido 2</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Estado</th>
                <th scope="col">Rol</th>
                <th scope="col">Editar Usuario</th>
                <th scope="col">Información</th>
              </tr>
            </thead>
            <tbody id="users">
              <%= render @users %>
            </tbody>
          </table>
        </div>
        <!-- table-responsive -->
      </div>
    </div>
  </div>
</div>
