<div class="content-area">
	<div class="page-header">
		<h4 class="page-title">Editando Cliente</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Clientes</li>
			<li class="breadcrumb-item active" aria-current="page">Editar</li>
		</ol>
	</div>

	<div class="row">
		<div class="col-12">
      <%= render 'form', customer: @customer %>
    </div>
	</div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHfdD7_UTQxrMlP1akzKh9rUPsKaXvRK8&libraries=places&callback=initAutoComplete"></script>
