
<div class="content-area">
	<div class="page-header">
		<h4 class="page-title">Editando Factura</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Facturación</li>
			<li class="breadcrumb-item active" aria-current="page">Editar</li>
		</ol>
	</div>

	<div class="row">
		<div class="col-12">
      <%= render 'form' %>
    </div>
	</div>
</div>
