<div class=" content-area">
  <div class="row mt-5">
    <div class="col-12">
      <div class="card">
        <div class="card-header ">
          <h3 class="card-title ">Listado de Facturas</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-hover card-table table-striped table-vcenter table-outline text-nowrap">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Cliente</th>
                <th scope="col">Método de Pago</th>
                <th scope="col">Total</th>
                <th scope="col">Moneda</th>
                <% if can? :manage, Billing %>
                  <th scope="col">Editar Factura</th>
                <% else %>
                  <th scope="col"></th>
                <% end %>
                <th scope="col">Información</th>
              </tr>
            </thead>
            <tbody id="billings">
              <%= render @billings %>
            </tbody>
          </table>
        </div>
        <!-- table-responsive -->
      </div>
    </div>
  </div>
</div>
