.fc-content .fc-title {
    margin-right: 5px;
    float: right !important;
}
.register { 
    margin-bottom: 3rem;
}

.ui-timepicker-wrapper {
	width: 15.8em;
    text-align: center;
}
#map {
    height: 50vh;
    margin-left: 5%;
    margin-right: 5%;
}
